__pycache__/
.*/
lib/
FrontEnd/node_modules/


# Database files
core/*.db
mdsas/*.db

# API Key
ascent/weatherapi.key

# Test Logs
mdsas/tests/*.log
mdsas/tests/*.xml
ascent/tests/mdsas.db
ascent/tests/reports/archive/*